@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@300;400;500;600;700&display=swap');

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow-x:hidden;
}


body {
    margin: 0;
    padding-top: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(35, 31, 46);                       /* DARK MODE */

    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Neucha', sans-serif;
    font-size: 6rem;
    color: rgb(255, 255, 255);   
    margin: 0;
    padding-top: 50px;

}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.852);   
}

p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: 595757;
}

/*-----------------------------Pages---------------------------------------*/

.education-page {
    margin-top: 60px;
    padding-bottom: 130px;  
}
.experience-page {
    margin-top: 60px;
    padding-bottom: 130px;  
}
.projects-page {
    margin-top: 60px;
    padding-bottom: 130px;  
}
/*-----------------------------Navigation---------------------------------------*/

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5% 3%;
    background: rgba(4, 4, 8, 0.479);    

    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    z-index: 1000;
}

.navigation a {
    font-family: 'Raleway', sans-serif;
    color:  rgb(255, 255, 255);                                         
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    transition: color 0.9s ease;
}

.navigation a:visited {
    color:  #f9fafb;   
}

.navigation a:hover {
    color: #b8a8f2;                       

    font-weight: 600;
    transition:color 0.3s;
    cursor: pointer;
}
/*-----------------------------Home---------------------------------------*/

.icon-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.icon-links a svg {
    color: rgb(255, 255, 255);             /* CONTACT COLOR */

    transition:color 0.3s;
    transition: transform 0.3s;

}
.icon-links a:hover svg {
    color: #b8a8f2;                       
    cursor: pointer;
    transform: scale(1.05);
}

/*-----------------------------About---------------------------------------*/

.about-para {
    font-size: 1.2rem;             
    width: 100%;                    
    max-width: 600px;              
    margin: 20px auto;          
    line-height: 1.5;              
    text-align: center;           
}


.resume-buttom {
    display: inline-block;       
    padding: 24px 50px;          
    background-color:  rgb(61, 53, 83);               /* PROJECT BOX COLOR */
    color:  #f9fafb;                                               /* FONT COLOR */
    text-decoration: none;       
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 2px;     
    border: 2px solid #b8a8f257; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 8px 8px 4px #18122b;    


}

.resume-buttom:hover {
    cursor:pointer;
    transform: scale(1.05);
    box-shadow: 12px 12px 4px #18122b;    

}

/*-----------------------------Contact---------------------------------------*/


.contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
    margin-top: 60px;
}

.icon-box{
    width: 230px;   
    height: 230px;
}
.contact a svg {
    width: 230px;   
    height: 230px;
    color:  rgb(0, 0, 0);               /* CONTACT COLOR */
    color: rgb(255, 255, 255);  
    transition:color 0.3s, transform 0.3s;

}
.contact a:hover svg {
    color: #b8a8f2;                       
    cursor: pointer;
    transform: scale(1.05);     
 
}


/*-----------------------------Projects---------------------------------------*/


.project-row {
    display:flex;
    justify-content: center;   
    gap: 50px;                
    flex-wrap: wrap;     
    margin-top: 60px;      
  }
.project-box {
    width: 480px;     
    height: 480px;        
    padding: 40px;
    border-radius: 2px;         
    background-color:  rgb(44, 39, 60);                        /* PROJECT BOX COLOR */
    box-shadow: 8px 8px 3px #18122b;    
    transition: transform 0.3s, box-shadow 0.3s; 
    border: 5px solid #b8a8f257; 

  
  }
.project-box-link {
    display: block;
    text-decoration: none;  
}
.project-box-link:hover .project-box {
    transform: translateY(-5px);
    box-shadow: 15px 15px 4px #18122b;    
}

.project-image {
    filter: grayscale(100%);
    width: 80%;
    height: 60%;
    border-radius: 2px;
    border: 5px solid #b8a8f257; 
    
}
.project-title {
    color:  #f9fafb;                                                  /* FONT COLOR */

    font-size:20px;
    font-weight: 800;
    justify-items: left;

} 
.project-skills {
    color:  #f9fafbc9;                              /* FONT COLOR */

    font-size:14px; 
    padding-bottom: 10px;

}
.project-description {
    color:  #f9fafbee;                             /* FONT COLOR */

    font-size:16px; 

}

/*-----------------------------Information Boxes (Education and Experience)---------------------------------------*/

  .info-box {
    margin-top: 60px;
    width: 60%;                
    padding: 40px;           
    text-align: left;            
    border-radius: 2px;         
    display: inline-block;    
    background-color:  rgb(44, 39, 60);                        /* PROJECT BOX COLOR */
    box-shadow: 8px 8px 4px #18122b;    
    border: 3px solid #b8a8f257; 
  }
  .title {
     color:  #f9fafb;                                                        /* FONT COLOR */
    font-size:24px;
  }
  .description{
    color:  #f9fafbc9;                                     /* FONT COLOR */
    font-size:18px
  }
  .details{
    color:  #f9fafbee;                                    /* FONT COLOR */
    font-size:20px;  
}

/*-----------------------------Images---------------------------------------*/
.page-content {
    position: relative;
    z-index: 1;
}

/*--------------------Home----------------------*/

.home-page .top-left {
 transform: translateY(-30%) translateX(-10%) rotate(190deg);
 width:500px;
}

.home-page .top-right {
 transform: translateY(-30%) translateX(10%) scaleY(-1);
 width: 500px;
}

.home-page .bottom-left {
    transform: translateY(15%) translateX(-10%) scaleX(-1);;
    width: 500px;
}

.home-page .bottom-right {
    transform: translateY(15%) translateX(10%);
    width: 500px;
}

/*--------------------About----------------------*/

.about-page .top-left {
 transform: translateY(-30%) translateX(-10%) rotate(190deg);
 width:500px;
}

.about-page .top-right {
 transform: translateY(-30%) translateX(10%) scaleY(-1);
 width: 500px;
}

.about-page .bottom-left {
    transform: translateY(15%) translateX(-10%) scaleX(-1);;
    width: 500px;
}

.about-page .bottom-right {
    transform: translateY(15%) translateX(10%);
    width: 500px;
}

/*--------------------Education----------------------*/

.education-page .side-img {
    width: 450px;
}
.education-page .top-left {
 transform: translateY(-30%) translateX(-10%) rotate(190deg);
 width:600px;
}

.education-page .top-right {
 transform: translateY(-30%) translateX(10%) scaleY(-1);
 width:600px;
}

.education-page .bottom-left {
    transform: translateY(15%) translateX(-10%) scaleX(-1);;
    width:600px;
}

.education-page .bottom-right {
    transform: translateY(15%) translateX(10%);
    width:600px;
}
/*--------------------Experience----------------------*/

.experience-page .side-img {
    width: 500px;
}

.experience-page .top-left {
 transform: translateY(-30%) translateX(-10%) rotate(190deg);
 width:600px;
}

.experience-page .top-right {
 transform: translateY(-30%) translateX(10%) scaleY(-1);
 width:600px;
}

.experience-page .bottom-left {
    transform: translateY(15%) translateX(-10%) scaleX(-1);;
    width:600px;
}

.experience-page .bottom-right {
    transform: translateY(15%) translateX(10%);
    width:600px;
}
/*--------------------Projects----------------------*/

.projects-page .side-img {
    width: 500px;
}
.projects-page .top-left {
 transform: translateY(-30%) translateX(-10%) rotate(190deg);
 width:600px;
}

.projects-page .top-right {
 transform: translateY(-30%) translateX(10%) scaleY(-1);
 width:600px;
}

.projects-page .bottom-left {
    transform: translateY(15%) translateX(-10%) scaleX(-1);;
    width:600px;
}

.projects-page .bottom-right {
    transform: translateY(15%) translateX(10%);
    width:600px;
}
/*--------------------Contact----------------------*/

.contact-page .top-left {
 transform: translateY(-30%) translateX(-10%) rotate(190deg);
 width:500px;
}

.contact-page .top-right {
 transform: translateY(-30%) translateX(10%) scaleY(-1);
 width: 500px;
}

.contact-page .bottom-left {
    transform: translateY(15%) translateX(-10%) scaleX(-1);;
    width: 500px;
}

.contact-page .bottom-right {
    transform: translateY(15%) translateX(10%);
    width: 500px;
}

/*--------------------General----------------------*/


.side-img {
    position: absolute;       
    height: auto;
    z-index: 0;
    opacity: .6;
}

.top-left {
    top: 50px;
    left: 0;
    transform: scaleX(-1);
}

.top-right {
    top: 50px;
    right: 0;
}

.middle-left {
    top: 50%;  
    left: 0;
    transform: translateY(-50%) scaleX(-1);
}

.middle-right {
    top: 50%;  
    right: 0;
    transform: translateY(-50%);
}

.bottom-left {
    bottom: 50px;
    left: 0;
    transform: scaleX(-1);
}

.bottom-right {
    bottom: 50px;
    right: 0;
}

/*----------------------------- Resizing---------------------------------------*/

@media screen and (max-width: 768px) {
    .navigation {
        gap: 3vw;
    }
    .navigation a {
        font-size: 0.9rem;
    }
}



